
html,
body {
  margin: 0;
  /* height: 100%; */
  /* overflow: hidden;  */
  /* opacity: .9  ; */
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 콘텐츠 뒤로 */
}
.video-background iframe {
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding-top: 40vh;
  font-size: 2rem;
}


#content,
.container-xxl.bd-gutter.masthead-followup,
footer
 {
    /* opacity: .2    ; */
}

header {
    /* opacity: .6    ; */
}